*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  --primary-color:  #646cff;
  --secondary-color:  #171a50;
  --grey: rgb(206, 203, 203);
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

html {
  font-size: 62.5%;
}

.btn {
  display: block;
  text-align: center;
  width: 7rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #646cff;
}

.back-btn{
  margin: 2rem auto;
}

.login-btn{
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  margin: 1rem;
}

.container{
  max-width:120rem;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

.single-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.not-found{
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
}

.login-info{
  margin-top: 1rem;
  font-size: 1.4rem;
}